.benefits {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #121111;
  border-radius: 1rem;
  margin-top: 2.5rem;
  padding: 1.5rem;
  padding-top: 2.625rem;
  gap: 1.125rem;
  position: relative;
}

.benefits-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  color: black;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.28rem 1.7rem;
  white-space: nowrap;
}

.benefit {
  display: flex;
  gap: 1rem;
}

.benefit > img {
  width: 2.25rem;
  height: 2.25rem;
}

.benefit > div p:first-child {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #f4f4f4;
}

.benefit > div p:last-child {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  color: #5b5b5b;
}

@media screen and (min-width: 768px) {
  .benefits {
    margin-inline: 8rem;
    padding: 2rem;
    padding-top: 3rem;
    gap: 1.5rem;
  }
  .benefits-title {
    font-size: 1rem;
  }
  .benefit > img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .benefit > div p:first-child {
    font-size: 1.125rem;
  }

  .benefit > div p:last-child {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    margin-inline: 16rem;
    padding: 2.5rem;
    padding-top: 3.5rem;
    gap: 2rem;
  }
  .benefits-title {
    font-size: 1.25rem;
  }
  .benefit > img {
    width: 2.75rem;
    height: 2.75rem;
  }
  .benefit > div p:first-child {
    font-size: 1.5rem;
  }

  .benefit > div p:last-child {
    font-size: 1.5rem;
  }
}
